[2014-06-17 16:34] ddavison opened #1 "copypasta"
There is a **HUGE** issue with Atom fields not being able to copy or paste into the fields in the REST client.

My gut tells me that it's Atom's issue.. This does need to be investigated.

[2014-06-18 04:14] #1 closed, assigned to nobody

[2014-06-30 18:24] ddavison opened #3 "send a request when pushing enter"
Currently, the package only sends the request when manually clicking the `Send` btn.  Would be useful if it would send the request by pressing `[Enter]`

[2014-07-24 15:21] haggy opened #4 "Installed theme causes UI to become unusable"
![rest-client](https://cloud.githubusercontent.com/assets/2634904/3690134/3725871e-1346-11e4-8143-2d88119ff0c7.png)

[2014-07-30 15:54] #4 closed, assigned to nobody

[2014-11-12 00:47] #3 closed, assigned to nobody

[2014-11-29 18:23] makingoff opened #6 "How to send cookie?"
How to send cookie?

[2015-01-09 12:17] ddavison commented on #6
course it's ok with me!  thanks @javaguirre !

[2015-01-12 18:54] javaguirre commented on #6
@makingoff Could you please try with the new version (0.3.0) so we could see if the fix works for you?

Thanks!

[2015-01-12 19:42] makingoff commented on #6
@javaguirre could you take me example of yours? Screenshot would be awesome.

[2015-01-13 07:27] makingoff commented on #6
@javaguirre thank you. It works with
[code]

[2015-01-13 07:27] #6 closed

[2015-01-13 07:29] javaguirre commented on #6
Thank you, but you are right, we need more information in the README so the people would know how it works.

[2015-01-18 11:11] javaguirre opened #9 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-01-18 11:11] javaguirre commented on #9
I'll take a look at that today.

[2015-02-09 11:41] ginus opened #10 "Add a json result format button"
Most respone is json this function is very useful.

[2015-04-16 22:39] vvaka opened #11 "Failed to activate the rest-client package"
[Enter steps to reproduce below:]

1. ...Upgrade from 0.190 to 0.192
2. ...

**Atom Version**: 0.192.0 :warning: **in 1.0 API Preview Mode** :warning:
**System**: Mac OS X 10.10.3
**Thrown From**: [rest-client](https://github.com/ddavison/rest-client) package, v0.3.1

### Stack Trace

Failed to activate the rest-client package

[code]

### Commands

[code]

### Config

[code]

### Installed Packag

[2015-04-17 00:39] ddavison commented on #11
I had a similar issue created in https://github.com/ddavison/sublime-tabs. I fixed that one by updating all packages, and restarting atom. could you see if that fixes your issue?

[2015-04-29 19:31] romk1n opened #12 "Workspace.registerOpener is deprecated."
Call Workspace::addOpener instead
[code]

[2015-05-04 14:10] cmelgarejo opened #14 "Save requests and collection of requests"
Would be great to have a collection manager a-la-Postman Chrome's REST client, what do you think @ddavison ? :)

[2015-05-04 14:19] ddavison commented on #14
there's definitely some room for improvement on this plugin!

[2015-05-20 21:54] erikfrelund opened #16 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `rest-client` package
[code]

[2015-05-27 13:46] gonzaloadrio opened #17 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-05-27 21:37] benogle opened #18 "Deprecated Atom APIs will be removed June 1st"
Atom will no longer load this package after June 1st without changes. There are a couple deprecations on the latest version (`0.3.3`) of this package:

1. atom.workspaceView is no longer available. In most cases you will not need the view. See the Workspace docs for alternatives: https://atom.io/docs/api/latest/Workspace. If you do need the view, please use `atom.views.getView(atom.workspace)`, wh

[2015-05-29 16:43] #16 closed

[2015-06-25 15:12] nikmartin commented on #18
FYI This package is not not being loaded in Atom anymore

[2015-06-25 15:21] ddavison commented on #18
@nikmartin would you be willing to help get it back up?  It just needs to be migrated away from the old api

[2015-06-25 19:06] nikmartin commented on #18
well i use it, so i'll fork it and see what i can do, and I'll do a pull request

[2015-06-28 21:13] nikmartin commented on #18
I forked the repo and then found it's in coffeescript, which i don't do much of. I'll do what I can, but can't promise it'll be 'the coffeescript way'

[2015-08-01 20:17] #11 closed

[2015-08-12 14:14] agileago opened #20 "How can i install this package in Atom?"
I can't find this package in Atom's Setting. when i search `rest`.i can't find it

[2015-08-12 14:26] ddavison commented on #20
unfortunately this package didn't make it to the Atom 1.0 API due to it still using deprecated functionality which is why you probably dont see it.

It's easy to fix, i just hadn't gotten to it yet.  If you'd like to take a stab, i'd be willing to accept pull requests :)  otherwise - i'll eventually get to it.

[2015-08-12 14:32] agileago commented on #20
oh, it's unfortunately indeed

[2015-08-17 17:16] ddavison commented on #20
@agileago v0.4.0 has [just been released](https://github.com/ddavison/rest-client/releases/tag/v0.4.0).. you should be able to install now!

[2015-08-17 17:16] #20 closed

[2015-08-17 17:18] ddavison commented on #18
v0.4.0 [released](https://github.com/ddavison/rest-client/releases/tag/v0.4.0).  this should work now!

[2015-08-17 17:18] #18 closed

[2015-08-17 17:22] ddavison commented on #17
fixed in 6b74d29ed79e858a5c4de35d4e8bd7f3854f5509

[2015-08-17 17:22] #17 closed

[2015-08-17 17:22] ddavison commented on #12
fixed in 6b74d29ed79e858a5c4de35d4e8bd7f3854f5509

[2015-08-17 17:22] #12 closed

[2015-08-17 17:23] ddavison commented on #9
fixed in 6b74d29ed79e858a5c4de35d4e8bd7f3854f5509

[2015-08-17 17:23] #9 closed

[2015-11-03 11:02] javaguirre commented on #10
What do you mean exactly? Having the json syntax and indentation in a better way?

I think It should be done automatically, It's a feauture everybody would want IMO.

I think It could check if the response is json, and if It is, just format It accordingly.

I'll check how could be done.

[2015-11-03 13:58] ddavison opened #22 "add tests"
just realized that this repo has no tests...  a no-no!  :(

we should add tests.

[2015-11-03 18:43] javaguirre commented on #22
:+1:

[2015-11-05 14:08] ddavison commented on #10
@javaguirre  did #23  close this one?

[2015-11-05 14:30] javaguirre commented on #10
@ddavison I added format to the output, not syntax highlighting, that's a bit trickier, the issue was generic, so It depends if we were counting on having also syntax highlighting on the formatting. What do you think?

[2015-11-05 14:47] javaguirre commented on #22
Would be nice to activate the project in https://travis-ci.org/

I did It with my fork to check if It was working, we could add the Travis badge to show the people how "trustworthy" we are. :-)

[2015-11-05 15:23] ddavison commented on #22
should already be:

https://travis-ci.org/ddavison/rest-client

[2015-11-05 15:24] javaguirre commented on #22
Nice! :tada:

[2015-11-05 15:25] ddavison commented on #10
I never really intended having syntax highlighting in the result window.. that's mostly what the "open in separate editor" was for

[2015-11-05 15:28] javaguirre commented on #10
Ok, It's for the best, so I am gonna close It. :+1:

[2015-11-05 15:28] #10 closed

[2015-11-05 15:29] ddavison commented on #22
just added the badge :smile:  I'll create a CONTRIBUTING.md file denoting that any features should have tests written for them, *then* close this :)

[2015-11-05 15:32] javaguirre commented on #22
:+1:

[2015-11-05 15:36] ddavison commented on #10
well done on the formatting @javaguirre  :)  that's excellent functionality that will be loved.

[2015-11-05 15:43] ddavison commented on #22
done :) also added [.editorconfig](https://github.com/ddavison/rest-client/tree/master/.editorconfig)

[2015-11-05 16:25] javaguirre commented on #22
:+1:
On Nov 5, 2015 4:43 PM, "Dj" <notifications@github.com> wrote:

[2015-11-06 15:22] #22 closed

[2015-11-06 15:24] javaguirre commented on #14
Follow #15

[2015-12-16 16:12] mithataydogmus opened #26 "Copy / Paste not working correctly"
Hello,

When I copy strings from any other source and paste them inside RestClient, it duplicates the string. Always pasting 2 times and doing it in "every" input.

I also uninstalled / reinstalled package, problem continues. Tried to dig into code but couldn't find the problem easily.

Atom 1.3.1
OSX El Capitan 10.11.1

[2015-12-16 17:39] ddavison commented on #26
I'll investigate this when I can - will be AFK most all day today :(   Thanks for letting me know

[2015-12-16 22:36] mithataydogmus commented on #26
It's totally fine, I have no rush. Except this problem, RestClient working fine for me. If you tell me how to handle to problem or at least give me a clue about it I'll try to help too.

[2015-12-29 09:38] titango opened #27 "options.uri is a required argument"
I got this Error when sending GET request "options.uri is a required argument" , any help ?

[2015-12-30 05:21] ddavison commented on #27
did you fill out the URL field?  looks like you might have forgotten to fill in the url.

[2016-02-15 18:44] ragboyjr commented on #26
:+1: every time I copy and paste, it pastes the string twice.

[2016-02-16 17:54] #26 closed

[2016-02-16 17:55] ddavison commented on #26
pushed in version 0.5.1 :+1:

[2016-02-16 18:22] ragboyjr commented on #26
Looks great thanks! :+1:

[2016-02-23 02:33] urecio opened #28 "POST not workin"
I'm getting `Error: socket hang up`

[2016-02-23 02:36] urecio commented on #28
Sorry, I was putting the payload on the headers

[2016-02-23 02:36] #28 closed

[2016-02-23 02:37] ddavison commented on #28
:+1:  glad you figured it out

[2016-03-14 21:50] thatchej opened #30 "Encode payload/Decode payload should be on a different line"
![Image Example](https://cloud.githubusercontent.com/assets/1555889/13761103/df5a2996-e9f3-11e5-8f57-4b99ebc81dd5.png)

I just started using this plugin and noticed that the current design of this looks pretty strange. I'm not familiar with CoffeeScript so I can't submit a pull request, but it seems to be in the file `/lib/rest-client-view.coffee` lines 70-72.

[2016-03-14 23:54] ddavison commented on #30
might be prettier with a pipe between them rather than separate lines

[2016-03-15 15:16] thatchej commented on #30
@ddavison yeah that would look great too!

[2016-03-15 17:30] ddavison commented on #30
fixed in 8132c07cbbacaf605e4a4d847f2d49206aaaf773 :)  thanks :+1:

[2016-03-15 17:30] #30 closed

[2016-03-15 17:30] ddavison commented on #30
we'll push a new version soon.  after the save-load-requests branch gets merged in

[2016-03-23 17:36] deq9z opened #32 "proxy configuration"
GET http://www.google.ca
result pane:    Error: connect ETIMEDOUT XXX.XXX.XXX.XXX:80

I have configured atom.io to leverage the corporate proxy, have no problems connecting outbound to install packages, however; running into a timeout using rest-client package.  I am speculating that it is due to no proxy configuration in the code.

[2016-03-23 18:34] ddavison commented on #32
since we use request, it should be a simple fix:

https://www.npmjs.com/package/request#proxies

[2016-03-23 18:43] deq9z commented on #32
thanks for getting back so quickly, I will try it out!

[2016-03-23 18:44] ddavison commented on #32
this may be on our side @deq9z :)  not sure you can solve it yourself through the UI.  i was commenting that for the developers of rest-client ;)

[2016-03-23 19:05] deq9z commented on #32
yeah, I was looking in the UI code, then in the atom/package/rest-client/node_modules/request/index.js code to see if I could inject it there locally for getting myself up & running.

[2016-04-19 08:53] javaguirre commented on #32
This would be nice for starting the **Advanced options** partial view. :-)

[2016-04-19 08:57] javaguirre commented on #27
This issue is fixed in the new version.

If you continue having this problem with the latest release, please let us know!

[2016-04-19 08:57] #27 closed

[2016-04-20 08:17] javaguirre opened #35 "The changelog is not complete"
I've realised the changelog is not completed, I think It's important to complete It.

[2016-05-18 05:25] yanlinaung30 opened #36 "Uncaught SyntaxError: Unexpected token :"
[Enter steps to reproduce below:]

1. Choose 'applicatioin/json'
2. send

**Atom Version**: 1.7.3
**System**: Mac OS X 10.11.4
**Thrown From**: [rest-client](https://github.com/ddavison/rest-client) package, v1.1.0

### Stack Trace

Uncaught SyntaxError: Unexpected token :

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-05-18 14:21] ddavison commented on #36
I am unable to reproduce.

I used the following:

**URL**: http://jsonplaceholder.typicode.com/posts
**Method**: POST
**Payload**: `{"title": "some title", "body": "bar", "userId": 1}`
**MIME**: `application/json`

<img width="820" alt="screen shot 2016-05-18 at 10 19 34 am" src="https://cloud.githubusercontent.com/assets/2972876/15362170/4fa9c258-1ce2-11e6-9e25-3b56fff0a7b0.png">

[2016-05-18 14:22] ddavison commented on #36
Please if you could, paste your payload (and sensor anything sensitive).  I have a feeling your JSON isn't valid.  might want to try putting your json payload through a JSONLinter

[2016-05-20 05:53] yanlinaung30 commented on #36
@ddavison Thanks for your reply. It is right. JSON is not valid. String field does not have open & close inverted commas.  It is OK when I put inverted commas.  (y)

[2016-05-20 17:51] ddavison commented on #36
oh perfect!  I'm glad you figured it out :)  thanks for opening an issue!  If you find anything else, feel free to open another

[2016-05-20 17:51] #36 closed

[2016-06-01 03:52] #35 closed

[2016-06-01 03:52] ddavison commented on #35
THANK YOU https://github.com/skywinder/github-changelog-generator

upon first glance of the change log, it looks great.  if there's more gritty information you want, not sure how it'll work with that generator ^

[2016-06-06 09:57] nbeydoon opened #37 "Feature"
Hello, is it possible to integrate JSON syntax highlight and completion for payload and response fields?

[2016-06-06 20:23] ddavison commented on #37
good question!

i agree it would be very nice to have syntax highlighting in those fields.  i'll do some research

[2016-06-24 23:00] fcestrada opened #38 "Show response headers"
Hi Daniel,

First of all thanks a lot for your hard work in this plugin, currently I'm using it a lot :v: , but I have some REST WS which includes useful information as header and not in the body, so would be possible to display the response headers too?

Thanks in advance for your attention regarding this request.

Best Regards :wink:

[2016-06-28 19:03] ddavison commented on #38
hey @fcestrada !  Thanks for the love, brother!  thanks go to @javaguirre as well. I can't take all the credit ;)

sorry it took a while to respond!  been super busy :)

It makes 100% sense to include response headers as well. Did you want to try your hand at creating a pull request to implement this functionality?  If not, myself or @javaguirre can get to it, because i agree complete that this fu

[2016-06-28 19:04] javaguirre commented on #38
Yes! I think that's important, I'll do It. :-)

[2016-06-29 12:48] fcestrada commented on #38
@javaguirre Muchísimas gracias Javier, saludos desde México :clap:

[2016-07-03 17:04] javaguirre opened #40 "Fix tests in Travis CI"
That's something that's been there for a while, It's being a problem due to some change in how test works for Atom packages, we need to check what happened and fix It.

[2016-07-04 00:25] ddavison commented on #40
👍

[2016-07-05 10:12] javaguirre commented on #38
Done! We'll need to add a bit of style, but I think we could do that when we add also json syntax higlighting. I'm gonna publish a minor version of the package.

[2016-07-05 10:12] #38 closed

[2016-07-05 10:23] javaguirre commented on #38
Done! If you update rest-client to v1.2.0 you're good to go! :-)

Saludos!

[2016-07-05 15:19] fcestrada commented on #38
Updated, thank you very much!!! :clap:

Saludos :wink:

[2016-07-08 13:11] blokeley opened #42 "Cannot open in separate editor on Windows 10"
To replicate:

1. GET https://www.google.com/

2. Select 'Open in separate editor'.

Atom error dialog:
[code]

[2016-07-11 17:32] ddavison commented on #42
i'm unable to replicate getting this error, but i do notice that it doesn't open correctly.

upon clicking "Open in separate editor", i see that it does put the file with the appropriate contents in `C:\tmp\GET - www.google.com` but it doesn't open it in atom.  will definitely have to take a closer look at this.

[2016-07-20 06:09] astimes opened #43 "How to pass parameters"
How to pass parameters

[2016-07-20 16:32] ddavison commented on #43
by parameter, i assume you mean passing POST data, for example?  If so, that's the "payload" box.

If your REST API accepts JSON, set the MIME to `application/json`, and pass your parameters in the payload box like so:

[code]

[2016-07-21 03:43] astimes commented on #43
thanks

[2016-07-21 21:22] #43 closed

[2016-07-27 14:24] bmrinal opened #44 "Uncaught SyntaxError: Unexpected token a"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.5
**Thrown From**: [rest-client](https://github.com/ddavison/rest-client) package, v1.2.0

### Stack Trace

Uncaught SyntaxError: Unexpected token a

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-27 15:41] ddavison commented on #44
something like this would happen when you have the "application/json" mime type selected, but your API that you are requesting is returning borked JSON.

look into the api you are polling from.. take the result and put it through http://jsonlint.com.  you'll see that it's invalid.

[2016-07-27 17:49] bmrinal commented on #44
no the problem is actually in the payload parsing. If the payload is not a valid JSON, it breaks and gives me this error. API is fine. API is not even called. It breaks before that.

Can't we can have a graceful warning saying that the payload is invalid or something instead of this long error.

[2016-07-27 22:14] ddavison commented on #44
could you tell me the method you are using?  I tried doing a POST request using `{ "some inv"alid json }` and didn't get an error.  how exactly are you sending the request

[2016-07-28 02:16] bmrinal commented on #44
method i am using is "application/json". My payload was {somekey:"somevalue"}. So the quotes were missing around the keys. As soon as I got the quotes wrapped, it worked.

There is one more issue. Saved searches just disappear next day! Maybe I should open another issue for the same.

[2016-08-02 06:05] xralphack opened #45 "UTF8 support"
The response I got is in Chinese. How can I to make it looks correct ?

[2016-08-02 09:06] cluoma commented on #32
Running into the same issue. Any news on this?

[2016-08-02 10:04] javaguirre commented on #32
Hi! I'll take a look.

[2016-08-02 10:05] javaguirre commented on #45
Hi! Do you have a request example so I could test It fast?

Thank you!

[2016-08-02 10:06] javaguirre commented on #44
We should return a human message if the json is not correct in the response

[2016-08-11 18:35] #14 closed

[2016-08-12 22:56] ygol opened #46 "how may I encode basic authentication (login:password)"

[2016-08-17 09:49] KrisZane opened #47 "Not loading body or header content from saved/recent calls"
First of all, awesome project, so happy to finally have a decent REST client, instead of having to install one in chrome.

It seems with my recent/saved requests, when I click them it loads none of the body content and only a single part of the header.

I checked collections.json and recent.json and all the information seems to be there, so I am guessing it is just a failed hookup of the data some

[2016-08-17 09:53] javaguirre commented on #47
Hi!

can you provide an example case where It fails? That way we can debug it faster.

Thank you! :-)

[2016-08-17 09:56] javaguirre commented on #46
You can use the [`Authorization` header](https://docs.oracle.com/cd/E24191_01/common/tutorials/authn_http_basic.html), like:

![screen shot 2016-08-17 at 11 55 37](https://cloud.githubusercontent.com/assets/488556/17732351/8c5ed55e-6471-11e6-9129-5269078178ac.png)

[2016-08-17 09:56] #46 closed

[2016-08-17 13:47] KrisZane commented on #47
It currently seems to be failing in all cases, the URL is displayed correctly and so is the first line of header information, the rest of the header and the body are left blank.

This is an illustration of what it looks like when I click anyone of the recent or saved instances:
![1471441590](https://cloud.githubusercontent.com/assets/12501838/17738516/d1e7b404-6491-11e6-927f-3420fa49a885.png)

[2016-08-17 14:01] javaguirre commented on #47
I'll check it out.

[2016-08-18 19:50] ddavison commented on #37
I think we should be able to utilize the [atom-text-editor](https://github.com/atom/atom-text-editor-exercise/blob/master/lib/atom-text-editor-exercise-view.coffee) tag, and apply the `source json` or `source xml` based on the response Content-Type

[2016-08-19 09:16] KrisZane commented on #47
In case you want actual data to troubleshoot with, this is my collections file (some data is obfuscated for obvious reasons.):
`[
  {
    "url": "https://api.trustpilot.com/v1/oauth/oauth-business-users-for-applications/accesstoken",
    "headers": {
      "User-Agent": "atom-rest-client",
      "Content-Type": "application/x-www-form-urlencoded",
      "Authorization": "Basic 123AbC=="
    },

[2016-08-29 09:48] #40 closed

[2016-08-29 10:06] #32 closed

[2016-08-29 10:29] #44 closed

[2016-08-29 17:03] javaguirre commented on #47
Hi!

I have the same bug, but I was thinking maybe It's better to have all the headers in the textarea, even the default ones as Postman does, so we don't have that separated.

I think the best thing to do would be to unify the `user-agent` and `content-type` inputs, remove those and add these default headers as text in the headers textarea, then when we load this data is also easier to load and l

[2016-08-30 06:40] ddavison commented on #47
i definitely like that idea.  really makes no sense to have them separated now that i think about it.

[2016-08-30 09:40] #47 closed

[2016-08-31 17:25] jdylanstewart opened #52 "Tab key insert tab"
It would nice to be able to insert tabs in the body field. Right now, it switches to a different entry field like a form. Maybe a setting to switch between the two?

[2016-09-08 12:18] zhiquan-yu opened #56 "Put response panel to right will be better"
like this, so we can make better use of space, and do not have to scroll down to see the result.
![response to right](http://ww4.sinaimg.cn/large/801b780agw1f7mflr5lsij21740q3tda.jpg)

[2016-09-08 12:38] ddavison commented on #56
👍   this would be so much better.  i'll start on this now, unless somebody else beats me to it! 😄

[2016-09-08 12:52] ddavison commented on #56
we just need to make sure this is responsive.  you clearly have a gigantic display.  having it split on lesser resolution monitors may look very restricted and tiny.

[2016-09-08 13:23] #56 closed

[2016-09-08 14:43] ddavison commented on #56
pushed to version `v1.2.3`   you may update the package from atom

[2016-09-09 03:35] zhiquan-yu commented on #56
Thank you! Look better now, and it's responsive.

[2016-09-10 14:00] ddavison opened #58 "Add "Form" button to Headers"
About time I open this issue, but my original intention behind the "Raw" button below headers was to put another toggle button named "Form" where you are able to fill in key-value fields like such

![form](https://i.imgur.com/iPQwNLA.png)

[2016-09-10 14:01] ddavison opened #59 "Add "Form" button to Payload"
About time I open this issue, but my original intention behind the "Raw" button below payload was to put another toggle button named "Form" where you are able to fill in key-value fields like such

![form](https://i.imgur.com/iPQwNLA.png)

[2016-09-16 21:04] silviofernandesrd opened #61 "Problem to perform a POST request with Payload"
Hi guys, okay?

I updated the "rest-client" to latest version (1.2.4), and I can't perform a POST request with Payload, generating the error attached.

![error-request-post-with-payload](https://cloud.githubusercontent.com/assets/20071230/18601211/e9d665c0-7c37-11e6-84de-53cbbc4d7595.png)

I solved it rolling back to 1.2.2.

regards

[2016-09-16 21:07] ddavison commented on #61
i think you meant to log this [here https://github.com/rest-client/rest-client](https://github.com/rest-client/rest-client) ?

[2016-09-22 19:13] yabrego opened #63 "Saved Requests don't save the Headers"
Most of the rest clients I've used save them, which make me feel like its a default option, and one that I noticed that I use a lot, however, on this tool when you save a request, the headers don't get saved.

[2016-09-23 04:03] ajelinek commented on #42
I have the same issue on Windows 7 box

[2016-09-28 08:04] netsi1964 opened #64 "Save to file"
Perhaps I am missing something, but the `save` button will not save *the requested data*?
If I am wrong, where do I find the saved data?

If the feature does not exist - I would love to see such a feature: `save to file` which would allow you to save the requested data to a file, perhaps with the content in one file and the headers in another file.

Thank you for a great package btw :-)

[2016-09-28 16:33] ddavison commented on #64
I believe you are talking about the "Open in external editor" functionality?    If you click that, it will save the requested data in a new file called "GET - httpgooglecom" for example, and you'd just "Save As".

Is this what you were looking for?

[2016-10-04 15:57] ddavison commented on #64
closing this because of no response - hopefully that comment above helped.  if not, we can reopen the issue!

[2016-10-04 15:57] #64 closed

[2016-10-05 12:15] netsi1964 commented on #64
Hi @ddavison
Thank you for your reply, and sorry for not replying before.

1. Tried your method: `https://jsonplaceholder.typicode.com/posts`
2. Got the expected JSON in a new tab
3. Clicked "open in separate editor" => empty new tab (!)
4. Saved the file to a tmp file: `tmp\GET - jsonplaceholder.typicode.composts`

The file was empty... Did I do anything the wrong way?

If it had worked it would

[2016-10-05 12:23] ddavison commented on #64
![issue-64](https://cloud.githubusercontent.com/assets/2972876/19112834/012c7812-8ad5-11e6-9094-6906a16655b5.gif)

[2016-10-05 12:27] netsi1964 commented on #64
Great video! I see everything working perfectly on your computer... I am (here at work) on Windows 7, could that be the reason?
How do you make those GIFs btw? :-)

[2016-10-05 12:30] ddavison commented on #64
OH, yes if you are using windows, then this issue could be related to #42

[2016-10-05 12:31] netsi1964 commented on #64
Ok, I will have to take it with my boss then :-) You may close it... (still would like to hear about how you record and create that GIF though :-)).

[2016-10-05 12:33] ddavison commented on #64
I use LICEcap to record those gifs :)  http://www.cockos.com/licecap/.

if you find the solution - please submit a PR as other people seem to have this problem 😕

[2016-10-07 22:58] jonatanklosko commented on #52
@ddavison This was fixed in #55, right?

[2016-10-08 02:01] ddavison commented on #52
that's right. thanks @jonatanklosko!

[2016-10-08 02:01] #52 closed

[2016-10-10 17:21] #61 closed

[2016-10-10 17:22] #63 closed

[2016-10-12 21:08] mbroo opened #68 "Are posts payloads always empty?"
I noticed the last few versions (1.2.5 and 1.2.6 at least) the post payload isn't being sent. It used to work (I think it worked in 1.2.4 but haven't rolled back to confirm). Is this a known issue or is it just me?

[2016-10-12 21:21] ddavison commented on #68
are you sure that POSTing to `http://localhost/index.php` is correct?

That assumes that that `index.php` file is running on port 80.

[2016-10-12 21:29] ddavison commented on #68
I certainly think it's from your side:

<img width="989" alt="screen shot 2016-10-12 at 5 29 28 pm" src="https://cloud.githubusercontent.com/assets/2972876/19328406/7b72d054-90a1-11e6-9470-60595f523022.png">

[2016-10-13 13:27] mbroo commented on #68
Yes, I'm posting to index correctly.

p.s. Doh! You've cracked the case! You should possibly look into detective work! :)

[2016-10-16 15:04] citizenrich opened #69 "saved requests are blown away"
Seems with every update that the saved and recent requests disappear because they are stored in the package dir. Seems the only solution is to save off recents requests in any dir outside of the default, but I wonder if this is the preferred behavior.

[2016-10-17 09:52] javaguirre commented on #69
too bad. :-(

I think the solution is probably having a directory `~/.atom-rest-client` with this data.

[2016-10-17 09:56] citizenrich commented on #69
Indeed. Shall do.

[2016-10-17 09:56] #69 closed

[2016-10-18 16:30] ddavison commented on #68
can this be closed @mbroo, are you still running into this?

[2016-10-18 16:31] ddavison commented on #45
no response from @xralphack for months - and not really sure what to do with this.  closing.

[2016-10-18 16:31] #45 closed

[2016-10-18 16:32] ddavison commented on #42
so, i did some more research, and this happens when  `C:\tmp\` doesn't exist to save a file in it.  Two possible solutions i can see:

1. We can have the REST client create this directory first, or...
2. Utilize the `temp` npm package to save temporary files.

I think i like option 2 best because this will utilize platform specific temp locations.  the `temp` package i believe uses %TEMP% in windo

[2016-10-20 15:09] mairanteodoro opened #70 "Uncaught TypeError: Cannot read property 'headers' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.12
**Thrown From**: [rest-client](https://github.com/ddavison/rest-client) package, v1.3.1

### Stack Trace

Uncaught TypeError: Cannot read property 'headers' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-10-20 15:47] signothefish opened #71 "How to search?"
How do I search the returned payload for certain text strings?

[2016-10-21 19:36] ddavison commented on #71
you are able to click the Open in External Editor, and search from that new editor!  if you are on windows, then this is currently [not a possibility](https://github.com/ddavison/rest-client/issues/42).. that bug needs to be fixed first.

[2016-10-24 14:11] mbroo commented on #68
As long as I use 1.2.2, it works as expected. Subsequent releases do not appear to behave the same.

[2016-10-25 18:29] #71 closed

[2016-11-01 13:48] aligurbuz opened #72 "Uncaught Error: Cannot find module 'atom-space-pen-views'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.10.5
**Thrown From**: [rest-client](https://github.com/ddavison/rest-client) package, v1.3.1

### Stack Trace

Uncaught Error: Cannot find module 'atom-space-pen-views'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-01 19:21] ddavison commented on #72
did you manuallu download this package, or download it through the package explorer

[2016-11-10 16:56] signothefish commented on #42
I got it working in Windows.  Edit .atom\packages\rest-client\lib\rest-client-editor.coffee, line 12:

`@path = process.env.TEMP + "\\#{@file_name}.json"`

[2016-11-15 16:41] dayer3 opened #73 "How long does a query last?"
Hi. I think it could be interesting know how long a query last.
Is this implemented? Do you agree?

[2016-11-15 17:53] ddavison commented on #73
do you mean like a progress bar, for the request?

[2016-11-15 18:03] dayer3 commented on #73
Not necessarily. Show the total time of the request is sufficient, imho.

[2016-11-15 18:25] ddavison commented on #73
I agree this would be nice.  if you wanted to see if you could tackle it, go ahead and submit a pull request! otherwise - you'll have to wait until one of us gets to it.

👍

[2016-12-22 07:14] xoxys opened #74 "Saved request are missing after restart atom"
Hi,
the saved requests seems not to be present after closing the atom. Is this the normal behavior or a bug? I am using Linux Mint 18.

Thanks for your work

[2017-03-04 10:36] LEDfan opened #75 "Problems with CSP"
Hi.

Running atom 1.14.4 on openSUSE and tried installing rest-client. I get the following error when click "show" in the packages menu:

[code]

Any idea how to solve this? Thanks!

[2017-03-08 13:13] Fydon opened #76 "Header values can't contain a colon"
If a header value contains a colon character then it isn't saved, as well as any character from the colon onwards.

If the header value contains a colon character it won't be transmitted to the destination, as well any character from the colon onwards.

[2017-04-17 17:43] tmvnk opened #77 "Saved Request"
Current max saved request is 10.

Would be nice if this is >100

[2017-05-07 20:11] jhg opened #78 "Link to open in separate editor could be more near of top and the content use the width"
![image](https://cloud.githubusercontent.com/assets/1288711/25784702/94f1d0c8-3369-11e7-9ada-5d67b1df0298.png)

[2017-05-16 20:57] willicab commented on #72
Hi, i have de same problem, i installed manually and execute apm install, but the error persist

[2017-06-21 12:09] gijo-varghese opened #79 "How to open this?"
Everything looks cool! But how to open this thing? It's mentioned nowhere!!!

[2017-06-21 17:05] ddavison commented on #79
as with any other plugin on Atom, you have to open it by the pallet 👍

Go ahead and press <kbd>Cmd</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd> if you're on Mac.  not sure what the shortcut is for windows.  (probably <kbd>Ctrl</kbd> instead of <kbd>Cmd</kbd>)

[2017-06-22 01:37] gijo-varghese commented on #79
Ok. Thanks

[2017-06-22 01:37] #79 closed

[2017-09-21 11:20] akapa100 commented on #70
I have the same problem

[2017-12-20 13:14] leonardlepadatu commented on #70
Same problem here when trying to:

## Open in separate editor ##

**Atom**: 1.22.1 x64
**Electron**: 1.6.15
**OS**: Ubuntu 16.04.3
**Thrown From**: [rest-client](https://github.com/ddavison/rest-client) package 1.3.1

### Stack Trace

Uncaught TypeError: Cannot read property 'headers' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-10-22 08:05] amberlionk commented on #56
Hello, could somebody tell me how to move "Response pane" to the right?
![capture](https://user-images.githubusercontent.com/29119723/47283082-677b5680-d5ea-11e8-8340-1c9047b9fda3.PNG)

[2018-10-24 08:19] amberlionk commented on #56
Sorry, my bad.
I meant - to the left.
In module styles declared that "Response block" is responsive. But it depends from full Atom window width.
When you open rest-client in right pane, to have 2 panes on screen (in one Atom window) - response block does not act responsive and stays at the right.
When you minimize Atom window - it moves to the left.
But for Atom opened for full screen - it looks b

[2018-10-24 19:04] ddavison commented on #56
ahh yes.  i understand now.  did you want to try your hand on a pull request, @amberlionk :)

[2018-10-25 21:19] amberlionk commented on #56
I could try, but im noob in making packages for Atom. I found that styles are in styles\rest-client.less file.
Is there som plugin which can open rest-client pane in browser(or somewhere), so i could inspect it, to look on HTML structure and try to play with styles?

[2018-10-26 16:11] ddavison commented on #56
you have the exact same inspection tools that chrome has (as atom is built on electron!)

<kbd>Cmd</kbd>+<kbd>Shift</kbd>+<kbd>I</kbd> - for mac
<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>I</kbd> - for windows / linux

[2019-03-15 15:37] philipsimonhall commented on #42
This worked for me too, but I don't think you need to include the file extension, at least not if you're using Content-Type: application/json in the headers.

I also added .replace('?', '') to line 31 for when parameters are being passed in the URI.  Not very elegant, but it works.

[2019-10-07 17:51] h2t4vc7s9 opened #81 "Uncaught TypeError: Cannot read property 'headers' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.40.1 x64
**Electron**: 3.1.10
**OS**: Debian GNU/Linux
**Thrown From**: [rest-client](https://github.com/ddavison/rest-client) package 1.3.1

### Stack Trace

Uncaught TypeError: Cannot read property 'headers' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-10-07 17:51] #81 closed

[2019-11-22 07:10] #74 closed

[2020-03-05 07:15] cyqsimon opened #82 "Uncaught error: URI malformed"
Steps to Reproduce

1. Enter `%` in the payload text area
2. Press "Decode payload"
3. `URI malformed` error thrown and uncaught.

**Atom**: 1.44.0 x64
**Electron**: 4.2.7
**OS**: Microsoft Windows 10 Pro N
**Thrown From**: [rest-client](https://github.com/ddavison/rest-client) package 1.3.1

It's quite straight forward really - when the user's input is not a valid URI-encoded string, the `URI mal

[2020-07-02 11:17] alexandrefaustino opened #83 "Uncaught Error: HTTP HEAD requests MUST NOT include a request body."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.48.0 x64
**Electron**: 5.0.13
**OS**: Linux Mint
**Thrown From**: [rest-client](https://github.com/ddavison/rest-client) package 1.3.1

### Stack Trace

Uncaught Error: HTTP HEAD requests MUST NOT include a request body.

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-08-30 08:25] MJ97 opened #84 "Doc: How to start the rest-client"
For beginners like me would it be nice to know, how exactly to start that tool?
I remember it was some kind of shortcut inside Atom, but I do not exactly remember how to get there again.

An update on the documentation for beginners would be highly appreciated.

Thank you!

[2020-09-24 15:03] sangeetds opened #85 "How do I send a post request with a body?"
Pretty new to API and stuff and so might not know the correct way. Was using postman before where I could send a post request consisting of a body, don't see any such option. Can somebody tell how to do so?

[2020-09-25 07:57] mzanrosso commented on #68
i have the same issue with the latest update

[2021-02-22 13:53] pemasat commented on #85
Hi all,
i have same question. Has any body answer please?
Thank's a lot,
Petr

[2021-06-22 16:47] ddavison commented on #85
There are two possibilities:

- Form multipart
- Raw Payload

The request would look like: `POST http://the-url.org/endpoint?a=foo&b=bar` to make a POST request sending parameters `a=foo` and `b=bar`.

If you needed to send a JSON payload, for instance, you could use the "Raw Payload" section and specify some json after setting the header `Content-Type: application/json`

[code]

[2021-06-22 16:47] #85 closed

[2021-09-04 13:42] Rajdeep-TG commented on #84
Go to **Packages** -> **REST Client** -> **Show**

[2021-09-14 23:45] ddavison commented on #84
I'm not sure there's much to do here 🤔

Most of this information could be found in the [Atom Basics](https://flight-manual.atom.io/getting-started/sections/atom-basics/) documentation as to how to install the package and run it.  Closing.

[2021-09-14 23:45] #84 closed

[2021-10-16 19:34] victuk opened #87 "Uncaught TypeError: Cannot read property 'elapsedTime' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.58.0 x64
**Electron**: 9.4.4
**OS**: Zorin OS
**Thrown From**: [rest-client](https://github.com/ddavison/rest-client) package 1.3.3

### Stack Trace

Uncaught TypeError: Cannot read property 'elapsedTime' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2021-10-26 03:35] Gazua300 opened #88 "How to use rest-client atom-plugin"
I installed the plugin and didn't find any instruction how to use it. Not even to show in IDE

[2021-11-24 11:55] DRNUMBER1 commented on #87
So I found  a small tweak for this error.
so basically you go into this location in your drive (or where ever your files are stored of the packages.)

`C:\Users\(YOUR_USER)\.atom\packages\rest-client\lib`

now you have to select this file,
`rest-client-view.coffee`

right click on it use any IDE, or import it in any editor to edit the file.

when you open it go to the 285 th line or the line where

[2021-12-07 16:14] ddavison commented on #88
Closed from bbc7922

[2021-12-07 16:14] #88 closed

[2021-12-07 16:26] ddavison commented on #87
This error will occur when there was no response from a host.

(reproduced with:
- GET http://invalid-host.com
)

[2021-12-07 16:57] #87 closed

[2021-12-07 17:12] ddavison commented on #83
Closed from https://github.com/ddavison/rest-client/pull/86

[2021-12-07 17:12] #83 closed

[2021-12-07 17:25] #82 closed